<!DOCTYPE html>
<html>
<head>
  <title>OtaEnroll</title>
  <%= stylesheet_link_tag    "ota_enroll/application", :media => "all" %>
  <%= javascript_include_tag "ota_enroll/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
